@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel


<section class="home">
    <div class="d-flex justify-content-between">
        <h2>İlaç Listesi</h2>
    </div>

    <div class="row">
        @foreach (var item in Model.Medicines)
        {
            <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                <div class="card">
                    <img src="~/img/medicines/@item.PictureUri" class="card-img-top">
                    <div class="row card-body">
                        <div class="col-8">
                            <h5 class="card-title" title="@item.Name">@item.Name</h5>
                            <p class="card-text">@item.Price ₺</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center">
                            <a href="#" class="btn add-basket" data-add="@item.Id"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>


@section Scripts{
    <script>

     $("[data-add]").click(function (e) {
         e.preventDefault();
         const medicineId = $(this).data("add");
         console.log(medicineId)

         @*$.post("@Url.Action("AddItem", "Basket")", { medicineId }, function (data) {
             $("#basket-items").text(data.totalItems);
             window.location.reload();
         });*@

          $.ajax({
        url: "@Url.Action("AddItem", "Basket")",
        method: "POST",
        data: { medicineId: medicineId },
        success: function (data) {
            $("#basket-items").text(data.totalItems);
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.error("Ajax Hatası:", textStatus, errorThrown);
        }
    });
    })
    </script>
} 